body {
    background-color: lightblue;   
    color: darkblue;  /* text color*/
    font-size: 18px;
}

h1 {
    font-size: 40px;
    
}

img {
    width: 80%;
    /* width value: we can have percentage (%), pixels (px), em, rem...*/
}


.topnav {
    color: palevioletred;
}

#special {
    color: purple;
}

ul {
    list-style-type: square;
}