body {
    background-color: lightblue;   
    color: darkblue;  /* text color*/
    font-size: 18px;
}

h1 {
    font-size: 40px;
    
}

img {
    width: 80%;
    /* width value: we can have percentage (%), pixels (px), em, rem...*/
}


topnav {
    color: palevioletred;
}

list-type:none 

#special {
    color: purple;
}

ol {
    list-style-type: square;
}

ol li:nth-child(odd){
    background: red; 
}

